.article__spinner{
  width: 100%;
  margin: 30px auto;
}

.articleItem_full{
  width: 100%;
  min-height: 140px;
  background-color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 30px;

  height: auto !important;
  padding: 0 16px 16px 16px !important;
}