@import '../../commonStyles/varables.scss';

.articlesList{

  display: flex;
  flex-direction: column;
  min-height: inherit;

  .articlesList__list{
    flex-grow: 1;
    

    &>li{
      margin: 26px 0;
    }
  
  }
  .articlesList__pagination{
    text-align: center;
    margin-bottom: 50px;
    
  
      [class*='active']{
        background-color: $thirdColor;
  
        a{
          color : white;
   
        }
        
      }
  
    .ant-select {
      display: none;
    }  
  }

}




