//FONTS 

$primeryFont: 'Inter', sans-serif;
$secondaryFont: 'Roboto', sans-serif;

$firtsAccentColor : #52C41A;
$secondColor : rgba($color: #000000, $alpha: 0.5);
$thirdColor : #1890FF;
$fourthColor: rgba($color: #000000, $alpha: 0.75);
$errorColor : #F5222D