.formDecorator{
  width:  100%;
  min-height: 100px;

  .formDecorator__container{
    width: 523px;
    margin: 0 auto;

    .formDecorator__block{
      width: 100%;
      margin: 60px 0;
      background-color: #FFFFFF;
      padding: 48px 32px;
      border: 1px solid #D9D9D9;
      border-radius: 6px;

      form {
        display: flex;
        flex-direction: column;
        gap: 12px;

        h4{
          margin: 5px 0;
          font-size: 14px;
          color: #262626;
        }
        span {
          padding-top: 0;
          padding-bottom: 0;
        }

        input{
          height: 40px;
          font-size: 16px;
        }
      }


      .formDecorator__title{
        text-align: center;
        color: #262626;
        line-height: 1.4;
        font-weight: 600;
        font-family: Roboto;
        letter-spacing: 0.025em;
        font-size: 20px;
        margin-bottom: 21px;
      }

      .decorator__Btn{
        height: 40px;
      }

      .decorator__info{
        text-align: center;
        color: #8C8C8C;
      }
    }
  }
}